#app-app{
  display:flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
}
#app-header{
  border: 2px solid red;
  min-height:20vh;

}
#app-main{
  border: 2px solid red;
  min-height:65vh;
  /* height:70vh; */
}

#app-footer{
  border: 2px solid red;
  min-height:10vh;
  background-color: moccasin;
}
